{{ define "main" }}
  <section class="container">
    <h1 class="font--lg txt--center">{{ .Title | upper }}</h1>
    <div class="grid">
      {{ range .Site.Data.rekening.bank }}
        {{ if "Public" }}
        <div class="column bg--dark rounded--10">
          <article class="card flex__column pa--2 mb--1">
            <header class="card__header">
              <h2 class="font--md">{{ .Nama }} ({{ .Singkat }})</h2>
            </header>
            <div class="card__content">
              <div class="py--1" data-value="{{ .Number }}">
                <strong>Rekening:</strong><br>
                <span class="select">{{ .Norek }}</span>
              </div>
              <div class="py--1">
                <strong>Atas Nama:</strong><br>
                <span class="select">{{ .Pemilik }}</span>
              </div>
            </div>
          </article>
        </div>
        {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}